<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update that data</title>
</head>
<body>
  <h3>you can edit this data</h3>
  <form method="POST" action="/comments/<%= comment.id %>?_method=PATCH">
  <textarea name="comment" id="comment-box"><%= comment.comment %></textarea>
  <button type="submit">SAVE</button>
</form>
</body>
</html>