<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>make new commnet</title>
</head>
<body>
  <form action="/comments/new" method="post">
    <label for="username">username</label>
    <input name="username" id="username" placeholder="enter your name"/>
    <br/>
    <label for="comments">comment</label>
    <textarea name="comment" id="comments" placeholder="write your comment"></textarea>
    <br/>
    <button value="submit">submit</button>
  </form>
</body>
</html>